<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="content">
  <div class="col-md-12">
    <div class="panel-footer text-center">
      <span class="d-block p-1 bg-dark text-white" style="margin-top: 10px; height: 2.6rem;">
        <h3>Araçlar</h3>
      </span>
    </div>

    <div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <table *ngIf="dataLoaded == true" id="brandsTable" class="table table-striped table-bordered" cellspacing="0"
      width="100%">
      <thead>
        <tr>
          <th><h3 style="font-weight:bold;">Id</h3></th>
            <th><h3 style="font-weight:bold;">Araba</h3></th>
            <th><h3 style="font-weight:bold;">Renk</h3></th>
            <th><h3 style="font-weight:bold;">Model Yılı</h3></th>
            <th><h3 style="font-weight:bold;">Günlük Fiyat</h3></th>
            <th><h3 style="font-weight:bold;">Açıklama</h3></th>

          <th style="text-align: center; width: 100px">
            <button type="button" style="border-radius:40px/40px; width: 3rem; height: 3em;" data-func="dt-add" class="btn btn-outline-success btn-xs dt-add formButton" data-bs-toggle="modal" data-bs-target="#addCarModal"><h1>+</h1></button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr appHighlight *ngFor="let car of cars">

          <td>{{ car.id }}</td>
          <td>{{ car.brandName }}</td>
          <td>{{ car.colorName }}</td>
          <td>{{ car.modelYear }}</td>
          <td>{{ car.dailyPrice | currency}}</td>
          <td>{{ car.description }}</td>

          <td>
            <button type="button" class="btn btn-outline-warning btn-xs formButton" data-bs-toggle="modal"
              data-bs-target="#updateCarModal" (click)="setSelectedCarToUpdate(car)" style="margin-right: 1px">
              <i class="fas fa-pen"></i>
            </button>
            <button type="button" class="btn btn-outline-danger btn-xs formButton" data-bs-toggle="modal"
              data-bs-target="#deleteCarModal" (click)="setSelectedCarToDelete(car)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<!---->
<div class="modal fade" id="addCarModal" tabindex="-1" aria-labelledby="addCarModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="AddBrandTitle">Araç Ekle</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="carAddForm">

          <div class="mb-3">
            <label for="brandId">Marka</label>
            <div class="form-group">
              <select formControlName="brandId">
                <option *ngFor="let brand of brands" [ngValue]="brand.id">
                  {{ brand.brandName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="colorId">Renk</label>
            <div class="form-group">
              <select formControlName="colorId">
                <option *ngFor="let color of colors" [ngValue]="color.id">
                  {{ color.colorName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="modelYear">Model</label>
            <input type="number" class="form-control" id="modelYear" formControlName="modelYear">
          </div>

          <div class="mb-3">
            <label for="dailyPrice">Günlük Fiyat</label>
            <input type="number" class="form-control" id="dailyPrice" formControlName="dailyPrice">
          </div>

          <div class="mb-3">
            <label for="description">Açıklama</label>
            <input type="text" class="form-control" id="description" formControlName="description">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button class="btn btn-success" (click)="addCar()" data-bs-dismiss="modal">Kaydet</button>
      </div>
    </div>
  </div>
</div>
<!---->
<div class="modal fade" id="updateCarModal" tabindex="-1" aria-labelledby="updateCarModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="UpdateCarTitle">Araç Güncelle</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="carUpdateForm">

          <div class="mb-3">
            <label for="id">Id</label>
            <input type="number" class="form-control" *ngIf="selectedCar" id="id" name="id" formControlName="id"
              value="{{selectedCar.id}}" readonly>
          </div>

          <div class="mb-3">
            <label for="brandId">Marka</label>
            <div class="form-group">
              <select formControlName="brandId" >
                <option *ngFor="let brand of brands" [ngValue]="brand.id" >
                  {{ brand.brandName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="colorId">Renk</label>
            <div class="form-group">
              <select formControlName="colorId">
                <option *ngFor="let color of colors" [ngValue]="color.id">
                  {{ color.colorName }}
                </option>
              </select>
            </div>
          </div>

          <div class="col-8">
            <label for="modelYear">Model</label>
            <input type="number" class="form-control" id="updatemodelYear" formControlName="modelYear"  value="{{selectedCar?.modelYear}}">
          </div>

          <div class="col-8">
            <label for="dailyPrice">Günlük Fiyat</label>
            <input type="number" class="form-control" id="updatedailyPrice" formControlName="dailyPrice" value="{{selectedCar?.dailyPrice}}">
          </div>

          <div class="col-8">
            <label for="description">Açıklama</label>
            <input type="text" class="form-control" id="updatedescription" formControlName="description" value="{{selectedCar?.description}}">
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button class="btn btn-success" (click)="updateCar()" data-bs-dismiss="modal">Güncelle</button>
      </div>

    </div>
  </div>
</div>

<!---->

<div class="modal fade" id="deleteCarModal" tabindex="-1" aria-labelledby="deleteCarModal" aria-hidden="true">
  

  
  <div class="example-button-container">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title" id="DeleteCarTitle">Araç Sil</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
          <h3>Silme işlemini onaylıyor musunuz?</h3>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button class="btn btn-success" (click)="deleteCar()" data-bs-dismiss="modal">Sil</button>
      </div>

    </div>
  </div>
</div>