<div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label"></label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
    placeholder="aramak istediğiniz markayı veya rengi giriniz" />
</div>
<div *ngIf="filterText.length > 2" class="alert alert-success">
  {{ filterText }} aradınız.
</div>

<div class="row" *ngIf="dataLoaded==true">
  <div *ngFor="let car of cars | filterPipe: filterText" class="col-lg-4 col-md-6 mb-4">
    <div appHighlight class="card" style="width: 16rem; height: 24rem;">
      <img class="card-img-top" src="{{ imageBaseUrl }}{{car.imagePath}}" alt="Card image cap" style="width: 16rem; height: 14rem;">
      <div class="card-body">
        <div style="text-align:center"><h2 class="card-title">{{car.brandName| uppercase}} - {{car.colorName| uppercase }}</h2>
        <p class="card-text"> Günlük Fiyat : {{car.dailyPrice | currency}}</p>
      </div><br/>
        <button type="button" class="btn btn-outline-dark" routerLink="/cars/cardetail/{{car.id}}" style="width: 13.7rem;">Detay</button>
      </div>
    </div>
    
  </div>
</div>