<div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
    placeholder="arama ifadesi giriniz" />
</div>
<div *ngIf="filterText.length > 2" class="alert alert-success">
  {{ filterText }} aradınız.
</div>

<table class="table">
  <thead>
    <th>Id</th>
    <th>Araba</th>
    <th>Marka</th>
    <th>Renk</th>

  </thead>
  <tbody>
    <tr *ngFor="let car of cars | filterPipe: filterText" routerLink="/cars/cardetail/{{car.carId}}">

      <td>{{car.carId}}</td>
      <td>{{car.carName| uppercase }}</td>
      <td>{{car.brandName}}</td>
      <td>{{car.colorName}}</td>

    </tr>
  </tbody>
</table>